<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Só de Cenoura</name>
    
    <description>
        Menu do restaurante Só de Cenoura App teste!
    </description>
    
    <author href="" email="juliorenan@live.com">
        Julio Pinheiro
    </author>

    <icon src="icone.png" />
    <plugin name="cordova-plugin-splashscreen" />
    <splash src="splash.png" />

    <!--<preference name="orientation" value ="portrait" /> para previnir rotação de tela-->
    <!--<preference name="fullscreen" value ="true"> para full screen-->
    <gap: plataform name="android" />
</widget>